{
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": true
      }
    ],
    [
      "@babel/preset-typescript",
      {
        "isTSX": true,
        "allExtensions": true,
        "jsxPragma": "h",
        "jsxPragmaFrag": "Fragment"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-react-jsx"
  ]
}
